# системные и редакторские мусорки
.DS_Store
Thumbs.db
.vscode/
.idea/

# зависимости и артефакты сборки
node_modules/
dist/
build/

# логи и временные файлы
*.log
tmp/
*.tmp

# базы данных/локальные данные
*.sqlite3
.env
